* {
  padding: 0;
  margin: 0;
}




html, body {
  width: 100svw;
  height: 100svh;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 28, 42);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  overflow: auto;
}




main {
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  margin: 50px 20px;
}




.section-header {
  display: inline-block;
  margin-bottom: 20px;
}

.section-header .section-title {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 5px solid rgb(255, 70, 70);
}


.content-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.content-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.content-name .text-primary {
  font-size: 22px;
  font-weight: 500;
}

.content-name .text-secondary {
  font-size: 18px;
  font-weight: 400;
}

.content-description {
  margin-top: 5px;
}

.content-description p {
  line-height: 1.5rem;
}


.section-details {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  margin-top: 50px;
}

.section-details .detail-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}




.content-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-skills .content-group .content-group-title {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
}

.content-skills .content-group .content-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.content-skills .content-group .content-items .content-item {
  padding: 5px 7px;
  background-color: rgb(255, 190, 190);
  border-radius: 5px;
  cursor: pointer;
}

.content-skills .content-group .content-items .content-item p {
  color: rgb(70, 0, 0);
}




.content-links {
  display: inline-flex;
  flex-direction: column;
  gap: 10px 0;
}

.content-links a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 10px;
  text-decoration: none;
}

.content-links a:hover {
  opacity: 0.8;
}

.content-links a img {
  width: 16px;
  height: 16px;
}

.content-links a p {
  font-size: 16px;
}